<div *ngIf = "ready" class="col-xs-12">
    <h2 class="title"> Sport Management </h2>
    <div class="col-xs-4 col-xs-offset-2">
            
        <table class="table">
                <tr>
                    <th>Sport Name</th>
                    <th>Delete</th>
                </tr>
                <tr *ngFor="let sport of sports;let i = index">
                    <td>{{sport.Name}}</td>
                    <td><a (click)="DeleteSport(sport.Id,i)" class="confirm-delete btn mini red-stripe" role="button" data-title="johnny" data-id="1">X</a></td>
                </tr>
        </table>
    </div>
    <div class="col-xs-6">
        <div class="add-sport">
            <form #f="ngForm" (ngSubmit)="AddSport()" class="form-inline">
                        <label for="sportName">New Sport</label> 
                        <input [(ngModel)]="newSport.name" name="sportName"  required   type="text" class="form-control" id="username" placeholder="Enter a sport">
                        <button  type="submit" class="btn btn-default add-button">Add Sport</button>
            </form>
        </div>
    </div>
</div>