<div class="col-xs-12">
    <h2>My Sports</h2> 
        
            
     <div *ngFor="let sport of interests" class="col-xs-offset-2">
            <div class="checkbox col-xs-4">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input"
                     [checked]="sport.Interest"
                     (change)="checkboxevent($event.target.checked,sport.Id)">
                     <span class="custom-control-indicator"></span>
                     {{sport.Name}}
                 </label>              
             </div>
    </div>
</div>
