<div *ngIf="ready">
    <div *ngFor="let user of friends;">
    <div *ngIf = "user.Id != userId">
        <label class="user" (click)="goToDetail(user)">
            <div *ngIf = "user.UserOne.Id != userId">
               Friend Name :  {{user.UserOne.FullName}}
            </div>
            <div *ngIf = "user.UserTwo.Id != userId">
               Friend Name :  {{user.UserTwo.FullName}}
            </div>
                Since: {{getDate(user.Since)}}
        </label>
    </div>
</div>
</div>

