<h2 style="text-align:center"> Sport Events </h2>


<ul  class="nav navbar-nav col-md-12">
            <li>
                <a routerLink="./createsportevent" routerLinkActive="active">Create</a>
            </li>
            <li>
                <a routerLink="./createdsportevents" routerLinkActive="active"> My created </a>
            </li>
             <li>
                <a routerLink="./goingsportevents" routerLinkActive="active">Goings</a>
            </li>
            <li>
                <a routerLink="./allsportevents" routerLinkActive="active">All</a>
            </li>
            <li>
                  <a routerLink="./nearsportevents" routerLinkActive="active">Near</a> 
            </li>
</ul>

<router-outlet> </router-outlet>



