<img [src]="src" [hidden]="!src"><br>
      <input type="file" image-upload
        (imageSelected)="selected($event)"
        [resizeOptions]="resizeOptions">



<form #f="ngForm"  (ngSubmit)="CreateEvent()"  class="form-horizontal">
       
           
           <div class="form-group row">
                <label for="Title" class="col-md-2 col-form-label">Title</label>
                <div class="col-md-10">
                    <input  [(ngModel)]="sportEvent.Title" name="title"  required  class="form-control" type="text" placeholder="Input Title" id="title-input">
                </div>
          </div>
          <div class="form-group row">
                <label for="Discription" class="col-md-2 col-form-label">Description</label>
                <div class="col-md-10">
                    <input [(ngModel)]="sportEvent.Description" name="description" required class="form-control" type="text" placeholder="Input Description" id="description-input">
                </div>
          </div>
          <div class="form-group row">
                <label for="Date" class="col-md-2 col-form-label">Date</label>
                <div class="col-md-10">
                   <input [(ngModel)]="sportEvent.Date" name="date" required ng2-datetime-picker close-on-select="false" />
                </div>
          </div>
          <div class="form-group row">
                <label for="Category" class="col-md-2 col-form-label">Category</label>
                <div class="col-md-10">
                   <select class="form-control" [(ngModel)]="sportEvent.Category"  name="category" >
                        <option  *ngFor="let sport of sports" [ngValue]="sport" > {{sport.Name}} </option>
                    </select>
                </div>
          </div>


          <h3 style="text-align:center"> Select your location </h3>
      <sebm-google-map (mapClick) = "mapClicked($event)" style="height:400px" [latitude]="lat" [longitude]="lng" [zoom]="2">
            <sebm-google-map-marker 
                [latitude]="m.lat"
                [longitude]="m.lng"
                [label]="m.label"
                [markerDraggable]="m.draggable"
                [iconUrl]="m.icon">
            </sebm-google-map-marker>
     </sebm-google-map>
<br>
          <div class="form-group"> 
            <div class="col-md-offset-4 col-md-4">
            <button  style="width: 100%" type="submit" class="btn btn-default">Create Sport Event</button>
            </div>
         </div>
</form>


   
